<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<p>안녕하세요</p>
<p th:if="${not #strings.isEmpty(itbook_session)}"
      th:text="|itbook_session value: ${itbook_session}|"></p>
<p th:if="${not #strings.isEmpty(username)}"
      th:text="|username value: ${username}|"></p>

<span th:if="${not #strings.isEmpty(itbook_session)}">
        <form method="post" action="/logout">
    <input type="submit" value="로그아웃" />
</form>
</span>

</body>
</html>
